@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Karsten";
  src: url('../src/assets/fonts/Karsten.ttf') format('truetype');
}

@font-face {
  font-family: "Palatino";
  src: url('../src/assets/fonts/Palatino.ttf') format('truetype');
}

@font-face {
  font-family: "Montserrat";
  src: url('../src/assets/fonts/Montserrat.ttf') format('truetype');
}

@font-face {
  font-family: "Retro";
  src: url('../src/assets/fonts/Retro.ttf') format('truetype');
}

#root {
  max-width: 1730px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

body {
  background-image: url("../src/assets/imgs/bg-long-min.svg");
  color: "#474747"
}

#fallCreek {
  shape-outside: radial-gradient(circle at 50% 50%, transparent 0, transparent 50%, #000 50%);
}

