@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Karsten";
  src: url('../src/assets/fonts/Karsten.ttf') format('truetype');
}

@font-face {
  font-family: "Palatino";
  src: url('../src/assets/fonts/Palatino.ttf') format('truetype');
}

@font-face {
  font-family: "Montserrat";
  src: url('../src/assets/fonts/Montserrat.ttf') format('truetype');
}

#root {
  max-width: 1730px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

/* #home {
  background-image: url(assets/imgs/background.svg);
  background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
} */

#right {
  background-image: url(assets/imgs/right.svg);
  background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#left {
  background-image: url(assets/imgs/left.svg);
  background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#grass {
  background-image: url(assets/imgs/grass.svg);
  background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
